@using Entities.DTOs
@model StudentCourseDTo
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-control">
  
      
        <div class="form-group">
            <label for="UserId">Öğrenci Seçiniz</label>
            <select id="UserId" name="UserId">
                @foreach (var x in Model.Student)
                {
                <option value="@x.UserId">@x.FirstName @x.LastName</option>
                    
                }        
                
            </select>
        </div>
     <div class="form-group">
            <label for="UserId">Ders Seçiniz</label>
            <select id="UserId" name="CourseId">
                @foreach (var x in Model.Course)
                {
                <option value="@x.CourseId">@x.Title</option>
                    
                }        
                
            </select>
        </div>
   
        <hr>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Create" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}
