@model Entities.ViewModel.StartQuizVm
@{
    ViewData["Title"] = "StartQuiz";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    int count = 0;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StartQuiz</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        demo {
            text-align: center;
            font-size: 60px;
            margin-top: 0px;
        }
    </style>
</head>
<body>



    <hr />
    <h1 style="text-align:center;color:green">Welcome to Learning Innovation Academy</h1>

    <hr />

    <hr />
    <h1 style="text-align:center;color:green">Best of Luck:)</h1>

    <hr />

    @*<div style="text-align: center; font-size: 25px;  margin-top: 0px; ">Remaining Time<span id="time">05:00</span> minutes!</div>*@


    <div id="time"> minutes left !</div>


    <div class="container">
        <div class="row">


            <div class="col-lg-10 col-md-10 col-xs-10 col-sm-10">
                <input type="hidden" name="CourseId" id="CourseId" value="@Model.CourseId" />

                @foreach (var item in Model.Question)
                {
                    count = count + 1;
                    <div id="@count">

                        <input type="hidden" name="QuestionId" id="QuestionId" value="@item.Id" />
                        <div class="row">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Example textarea</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="">@item.QuestionText</textarea>
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />

                        <div class="row">


                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="@item.QuestionA" id="defaultCheck1" name="A">
                                <label class="form-check-label" for="defaultCheck1">
                                    @item.QuestionA
                                </label>
                            </div>

                        </div>

                        <div class="row">


                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="@item.QuestionB" id="defaultCheck2" name="B">
                                <label class="form-check-label" for="defaultCheck2">
                                    @item.QuestionB
                                </label>
                            </div>

                        </div>
                        <div class="row">


                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="@item.QuestionC" id="defaultCheck3" name="C">
                                <label class="form-check-label" for="defaultCheck3">
                                    @item.QuestionC
                                </label>
                            </div>

                        </div>
                        <div class="row">


                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="@item.QuestionD" id="defaultCheck4" name="D">
                                <label class="form-check-label" for="defaultCheck4">
                                    @item.QuestionD
                                </label>
                            </div>

                        </div>

                        <div class="row" style="display:none">

                            <input type="hidden" value="@item.QCorrectAns" name="Answer" id="Answer">

                        </div>
                    </div>
                }

                <div class="row">
                    <input type="submit" id="quiz" value="Sınavı Bitir" class="btn btn-success" />



                </div>

            </div>


        </div>



    </div>

    <script>

        //function startTimer(duration, display) {
        //  let timer = duration;
        //  const interval = setInterval(function() {
        //    let minutes = parseInt(timer / 60, 10)
        //    let seconds = parseInt(timer % 60, 10);
        //    minutes = minutes < 10 ? "0" + minutes : minutes;
        //    seconds = seconds < 10 ? "0" + seconds : seconds;
        //    display.textContent = minutes + ":" + seconds;
        //    if (timer !== 0) {
        //      --timer;
        //    } else if (timer == 0) {
        //      alert('Your time has been completed.');
        //      clearInterval(interval);
        //    }
        //  }, 1000);
        //}

        //window.onload = function() {
        //  var seconds = 5,
        //    display = document.querySelector('#demo');
        //  startTimer(seconds, display);
        //};

        //        function startTimer(duration, display) {
        //    var timer = duration, minutes, seconds;
        //    setInterval(function () {
        //        minutes = parseInt(timer / 60, 10)
        //        seconds = parseInt(timer % 60, 10);

        //        minutes = minutes < 10 ? "0" + minutes : minutes;
        //        seconds = seconds < 10 ? "0" + seconds : seconds;

        //        display.textContent = minutes + ":" + seconds;

        //        if (--timer < 0) {
        //            timer = duration;
        //        }
        //    }, 1000);
        //}

        //window.onload = function () {
        //    var fiveMinutes = 60 * 5,
        //        display = document.querySelector('#time');
        //    startTimer(fiveMinutes, display);
        //};
        //function startTimer(duration, display) {
        //    let timer = duration;
        //    const interval = setInterval(function() {
        //        let minutes = parseInt(timer / 60, 10)
        //        let seconds = parseInt(timer % 60, 10);
        //        minutes = minutes < 10 ? "0" + minutes : minutes;
        //        seconds = seconds < 10 ? "0" + seconds : seconds;
        //        display.textContent = minutes + ":" + seconds;
        //        if (timer !== 0) {
        //            --timer;
        //        } else if (timer == 0) {
        //            alert('Your time has been completed.');
        //            clearInterval(interval);
        //        }
        //    }, 1000);
        //}


        //setTimeout(function() {
        //    window.location = "https://www.yazilimbilisim.net";
        
        //}, 3000);

        var count = 30;
        setInterval(function() {
            count--;
     
            if (count === 0) {
               window.location = "/Exams/EndExam";
            }
        }, 1000);
        var asd;
        $(document).ready(function() {
            var model = { CourseId: $("#CourseId").val(), Questions: [] };
            $("#quiz").click(function() {

                var count = 1;

                while (count != @Model.Question.Count() + 1) {

                    var selector = $(`#${count}`);
                    var id = selector.find('#QuestionId').val();
                    var text = selector.find("#exampleFormControlTextarea1").val();
                    var OkeyChecked;
                    let isCheckedA = selector.find('#defaultCheck1').is(':checked');
                    let isCheckedB = selector.find('#defaultCheck2').is(':checked');
                    let isCheckedC = selector.find('#defaultCheck3').is(':checked');
                    let isCheckedD = selector.find('#defaultCheck4').is(':checked');
                    if (isCheckedA) {
                        OkeyChecked = selector.find('#defaultCheck1').val();
                    }
                    else if (isCheckedB) {
                        OkeyChecked = selector.find('#defaultCheck2').val();
                    }
                    else if (isCheckedC) {
                        OkeyChecked = selector.find('#defaultCheck3').val();
                    }
                    else if (isCheckedD) {
                        OkeyChecked = selector.find('#defaultCheck4').val();
                    }
                    var Answer = selector.find('#Answer').val();

                    model.Questions.push({ QuestionId: id, Text: text, OkeyQuestion: OkeyChecked, Answer: Answer });


                    count = count + 1;
                }

                $.post("/Exams/StartQuiz", model, function(res) {
                    window.location.replace(res);
                })



            });

        });
    </script>
</body>
</html>

