@model List<Entities.Concrete.Question>
@{
    ViewData["Title"] = "StartQuiz";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StartQuiz</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body>



    <hr />
    <h1 style="text-align:center;color:green">Welcome to Learning Innovation Academy</h1>

    <hr />

    <hr />
    <h1 style="text-align:center;color:green">Best of Luck:)</h1>

    <hr />

    @using (Html.BeginForm( method:FormMethod.Post ,actionName:"StartQuiz",controllerName:"Exams" ))
    {
        @Html.AntiForgeryToken()


        <div class="container">
            <div class="row">


                <div class="col-lg-10 col-md-10 col-xs-10 col-sm-10">


                  @foreach (var item in Model)
                   {
                     <div class="row">
                        <h1>@Html.DisplayFor(x=>item.QuestionText)</h1>


                    </div>
                    <br />
                    <br />
                    <br />

                    <div class="row">


                        <h5>@Html.RadioButtonFor(ModelItem => item.QuestionA, item.Id)@item.QuestionA</h5>

                    </div>

                    <div class="row">


                        <h5>@Html.RadioButtonFor(x => item.QuestionB, item.Id)@item.QuestionB</h5>

                    </div>
                    <div class="row">


                        <h5>@Html.RadioButtonFor(x => item.QuestionC, item.Id)@item.QuestionC</h5>

                    </div>
                    <div class="row">


                        <h5>@Html.RadioButtonFor(x => item.QuestionD, item.Id)@item.QuestionD</h5>

                    </div>

                    <div class="row" style="display:none">

                        @Html.TextBoxFor(x => item.QCorrectAns)

                    </div>
                     }

                    <div class="row">
                        <input type="submit" value="Sınavı Bitir" class="btn btn-success" />



                    </div>

                </div>


            </div>



        </div>
    }

</body>
</html>

