@using Entities.Concrete
@model IEnumerable<User>
@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Kullanıcılar</h1>



<br />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<table class="table table-bordered">
    <tr>
        <th>Kullanıcı Adı</th>
        <th>Kullanıcı Soyadı</th>
        <th>Email</th>
        <th>Eklendiği Tarih</th>
        <th>Rol</th>
       
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.Email</td>
            <td>@item.AddedAt</td>
          
            <td>
                @if (item.IsStudent == false)
                {
                 <p>Öğretmen</p>  
                }
                else
                {
                 <p>Öğrenci</p>  
                }
                

            </td>
            <td> <a href="@Url.ActionLink("Delete","Students", new {userId=item.UserId})" class="btn btn-primary"> Sil </a></td>
        </tr>
    }
</table>
<a href="/Students/AddStudent" class="btn btn-info">Yeni Kullanıcı Ekle</a>